---
import Layout from '../layouts/Layout.astro'
import MyButton from '../components/buttons/MyButton.astro'
---

<Layout active="404">
  <div class='flex min-h-screen items-center justify-center '>
    <div class='text-center'>
      <h1 class='text-6xl font-bold text-yellow-800'>404</h1>
      <h2 class='mt-4 text-2xl text-gray-600'>Page Not Found 👀</h2>
      <div class='mt-6'>
        <MyButton href='/recipes/' children="Return Home"></MyButton>
      </div>
    </div>
  </bdiv>
</Layout>
