---
import { Image } from 'astro:assets'
import Navigation from './Navigation.astro'
const { active } = Astro.props;
---

<header
  class='flex w-full max-w-7xl items-center justify-between justify-self-center px-24 py-12 max-sm:px-5 max-sm:py-10'
>
  <a href='/' class='flex items-center gap-x-4'>
    <Image
      src='/recipes/cooking.png'
      alt='forgotten recipes logo'
      width={64}
      height={64}
      format='webp'
      loading={'eager'}
      class='w-16'
    />

    <p class='text-3xl uppercase text-zinc-900 max-xl:hidden'>recipes</p>
  </a>
 <Navigation active={active}/>
</header>
