---
const {page} = Astro.props
---

<div class="flex justify-between">
    {
        page.start > 0 &&  (
            <a
                href={`/recipes/recipe/list/${page.currentPage-1}`}
                class="bg-yellow-900 text-white py-3 px-6 rounded-xl text-xl opacity-70 hover:opacity-100 duration-300"
            >
                Previous
            </a>
        ) 
    }
    <div class="bg-yellow-600 text-white py-3 px-6 rounded-xl text-xl opacity-70 hover:opacity-100 duration-300"
    >Page {page.currentPage}</div>
    {
       page.currentPage < page.lastPage && (
            <a
                href={`/recipes/recipe/list/${page.currentPage+1}`}
                class="bg-yellow-900 text-white py-3 px-6 rounded-xl text-xl opacity-70 hover:opacity-100 duration-300"
            >
                Next
            </a>
        )
    }
</div>